  body {
      height: 100vh;
    }

    .star {
      position: relative;
      width: 0;
      height: 0;
      border-left: 80px solid transparent;
      border-right: 80px solid transparent;
      border-bottom: 100px solid rgb(255, 255, 0);
    }

    .star::after {
      content: "";
      position: absolute;
      top: 35px; 
      left: -80px;
      width: 0;
      height: 0;
      border-left: 80px solid transparent;
      border-right: 80px solid transparent;
      border-top: 140px solid yellow;
    }
